<ion-content force-overscroll="false" class="ion-padding-bottom"
  [style.--background]="'url( assets/images/main_background.png ) no-repeat center / 100%'">
  <div class="main-container">

    <div class="header" [ngStyle]="piece?.image ? {
      'background-image': 'url(' + piece.image + ')',
      'background-repeat': 'no-repeat',
      'background-position': 'center center',
      'background-size': 'cover'
    } : {}">

      <div class="maskpurple"></div>
      <div class="mask"></div>

      <div class="toolbar ion-padding-horizontal">
        <div class="left-slot">

        </div>
        <div class="center-slot"></div>
        <div class="right-slot">

          <ion-button type="button" fill="clear" size="large" color="light" shape="round" (click)="close()">
            <ion-icon slot="icon-only" src="assets/images/close_white.svg"></ion-icon>
          </ion-button>

        </div>
      </div>

      <div class="title ion-padding-horizontal">
        <ion-text color="light">
          <h1>{{piece?.name}}</h1>
        </ion-text>
      </div>

    </div>

    <div class="content ion-padding-horizontal">

      <p>
        {{ piece?.description}}
      </p>



      <p>
        {{ piece?.moveDescription}}
      </p>
      <ion-img [src]="'assets/images/pieces/moves/' + piece?.name + '.png'"></ion-img>


    </div>


  </div>

</ion-content>