ion-content {
    .main-container {


        .header {
            display: flex;
            flex-direction: column;
            height: 276px;

            .mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 276px;
                background-image: url(/assets/images/post_mask2.png);
                background-size: cover;
                background-position: center;
                opacity: 0.6;
                z-index: 1;
            }

            .toolbar {
                z-index: 3;
                margin-top: 1vh;
                display: flex;
                height: 60px;
                min-height: 60px;
                width: 100%;

                // padding-top: calc(var(--ion-safe-area-top, 0));
                .left-slot,
                .right-slot {
                    max-width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                }

                .left-slot {
                    justify-content: flex-start;
                }

                .right-slot {
                    justify-content: flex-end;
                }

                .center-slot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
            }

            .title {
                flex: 1;
                align-items: end;
                display: flex;
                z-index: 3;

                h1 {
                    color: var(--ion-color-white);
                    font-size: 50px;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.7px;
                }
            }

            .mask-bottom {
                position: absolute;
                // top: 0;
                left: 0;
                // height: 276px;
                height: 34vh;
                width: 100%;
                background-image: url(/assets/images/post_mask1.png);
                background-size: cover;
                background-position: center;
                z-index: 2;
            }
        }

        .content {
            p {
                font-size: 18px;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.378px;
            }

            .piece-color-choose-container {
                display: flex;

                ion-icon {
                    font-size: 40px;
                    margin-right: 8px;
                }

                .piece-initial-position {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                }

            }
        }

    }




}



@media only screen and (max-device-height: 667px) and (orientation: portrait) {
    .main-container {
        .header {
            .mask-bottom {
                height: 43vh !important;
            }
        }
    }
}