ion-content {
  --background: url(/assets/images/main_background.png) no-repeat center center / cover;
}


.toolbar {
  display: flex;
  height: 60px;
  min-height: 60px;
  width: 100%;

  .left-slot {
    justify-content: flex-start;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;

    img {
      max-width: 60%;
    }
  }

}

h2 {
  color: var(--ion-color-primary);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.scan-widget {
  display: flex;
  position: relative;
  overflow: hidden;
  user-select: none;
  background: rgb(83, 47, 190);
  background: linear-gradient(260deg, rgba(83, 47, 190, 1) 42%, rgba(53, 22, 142, 1) 100%);
  border-radius: 11px;
  padding: 16px;
  height: 90px;

  .labels {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;

    .paragraph-h11,
    .paragraph-h7 {
      color: var(--ion-color-white);
      max-width: 80%;
      font-style: normal;
      line-height: normal;
    }

    .paragraph-h7 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.42px;
    }

    .paragraph-h11 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.294px;
    }
  }

  .scan-button {
    display: flex;
    justify-content: end;
  }

}

.card-image {
  ion-card-header {
    display: flex;
    flex-direction: row;

    ion-card-title {
      display: flex;
      flex: 1;
    }
  }

  img {
    max-height: 40vh;
    display: block;
    margin: 0 auto;
  }
}


.slides-category {
  background-size: cover;
  background-position: center;
  width: 225px;
  height: 500px;
  border-radius: 11px;
  color: var(--ion-color-white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16px;
  position: relative;
  overflow: hidden;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/mask.png);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 1;
  }

  .paragraph-h8 {
    z-index: 2;
  }

  .paragraph-h11 {
    z-index: 2;
  }
}