<ion-content force-overscroll="false">



  <div class="toolbar">
    <div class="left-slot">
      <img class="logo-home" src="assets/images/chess-queen-solid.svg" alt="Logo" />
    </div>
  </div>

  <h2 class="ion-padding-horizontal">Reconocimiento inteligente de piezas de ajedrez</h2>

  <div class="ion-padding ion-margin-vertical">

    <ion-text color="primary">
      <h5 class="ion-no-margin">
        Identifica la imagen
      </h5>
    </ion-text>




    <div class="scan-widget ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <div class="labels">
        <span class="paragraph-h7">Captura tu pieza</span>
        <span class="paragraph-h11">
          Toma una foto e identifica la pieza en ella
        </span>
      </div>

      <div class="scan-button">
        <!-- <ion-fab-button (click)="takePicture()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button> -->
        <img src="assets/images/scan.png" alt="" srcset="">
      </div>



    </div>
  </div>





  @if(urlImg){

  <ion-card>
    @if(loading){
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }

    <ion-card-header>
      <ion-card-subtitle>foto</ion-card-subtitle>
      <ion-card-title>{{ predictionResult }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="'data:image/jpeg;base64,'+urlImg">
    </ion-card-content>
  </ion-card>
  }


  <swiper-container #swiper [slidesPerView]="1.7">

    @for (piece of pieces; track $index) {


    <swiper-slide [ngStyle]="{'margin-left': $index === 0 ? '16px' : '0px'}" [routerLink]="'category/' + piece.id">
      <div class="slides-category" [ngStyle]="{'background-image':'url('+piece.image+')'} ">
        <div class="mask"></div>
        <span class="paragraph-h8">
          {{ piece.name }}
        </span>
        <!-- <span class="paragraph-h11">
            <span *ngIf="category.subcategories && category.subcategories > 0">{{category.subcategories}}
              {{ 'CONTENT.subcategories' | translate }}</span>
            <span *ngIf="category.posts && category.posts > 0">{{category.posts}} Artículos</span>
            &nbsp;
          </span> -->

      </div>
    </swiper-slide>
    }

  </swiper-container>


  <!-- 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

  </ion-fab> -->

</ion-content>